<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Cooking</display-name>
  <welcome-file-list>
  	<welcome-file>firstIndex.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.cooking.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>PriviledgeFilter</filter-name>
    <filter-class>com.cooking.filter.PriviledgeFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>PriviledgeFilter</filter-name>
    <!-- <url-pattern>/user.jsp</url-pattern> -->
    <url-pattern></url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.cooking.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>com.cooking.servlet.BaseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ArticleServlet</servlet-name>
    <servlet-class>com.cooking.servlet.ArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RecipeBaseDictServlet</servlet-name>
    <servlet-class>com.cooking.servlet.RecipeBaseDictServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RecipeServlet</servlet-name>
    <servlet-class>com.cooking.servlet.RecipeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VideosServlet</servlet-name>
    <servlet-class>com.cooking.servlet.VideosServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.cooking.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EvaluateServlet</servlet-name>
    <servlet-class>com.cooking.servlet.EvaluateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ArticleEvaluateServlet</servlet-name>
    <servlet-class>com.cooking.servlet.ArticleEvaluateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShouCangServlet</servlet-name>
    <servlet-class>com.cooking.servlet.ShouCangServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.cooking.servlet.AdminServlet</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/BaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArticleServlet</servlet-name>
    <url-pattern>/ArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RecipeBaseDictServlet</servlet-name>
    <url-pattern>/RecipeBaseDictServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RecipeServlet</servlet-name>
    <url-pattern>/RecipeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VideosServlet</servlet-name>
    <url-pattern>/VideosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EvaluateServlet</servlet-name>
    <url-pattern>/EvaluateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArticleEvaluateServlet</servlet-name>
    <url-pattern>/ArticleEvaluateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShouCangServlet</servlet-name>
    <url-pattern>/ShouCangServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
</web-app>