@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
	border:none;
	text-decoration:none;
	list-style:none;
	font-family:"微软雅黑";
}

body{
	overflow-x:hidden;
}

.clearfix{
	clear:both;
}

.top{
	width:1200px;
	line-height:30px;
	color:black;
	font-size:18px;
	padding-top:10px;
	margin:0 auto;
}

.header{
	width:1200px;
	margin:0 auto;
}

.wec{
	float:left;
	display:block;
}

.call{
	float:right;
}

.call img{
	margin-right:8px;
}

.nav{
	width:1200px;
	margin:0 auto;
}

.nav img{
	display:block;
	float:left;
	margin-top:12px;
}

.menu{
	float:right;
	color:#d7000f;
}

.menu li{
	float:left;
	margin-left:36px;
	line-height:60px;
}

.menu li li{
	float:none;
	margin-left:0;
	display:none;
	position:relative;
	z-index:10;
}

.dw a{
	color:#333;
	display:block;
	padding-right:15px;
	background:url(../images/about_03.jpg) no-repeat center right;
	font-size: 20px;
}
	
.dw a:hover{
	color:#d7000f;
	background:url(../images/red.png) no-repeat center right;
}

.dw{
	position:relative;
}

.dw .in_menu{
	width:240px;
	position:absolute;
	left:-36px;
	top:60px;
	background:#FFF;
	z-index:100;
}

li .in_menu_1{
	width:230px;
	background:#FFF;
	position:absolute;
	left:230px;
	top:0
}

.dw .in_menu a{
	padding-left:36px;
	background:none;
	padding-right:36px;
}

.dw .in_menu a:hover{
	background:none;
	background-color:#d7000f;
	color:#fff;
}

.menu li:hover li{
	display:list-item;
}

.banner{
	width:1200px;
	position:relative;
	overflow:hidden;
	height:300px;
	margin:0 auto;
}

.banner > img{
	width:1920px;
	height:400px;
	position:relative;
	left:50%;
	margin-left:-960px;
}

.banner .title_1{
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-83px;
	margin-left:-183px;
	height:147px;
	z-index:4;
}

.banner .xian_2{
	width:100%;
	height:2px;
	background:#d7000f;
}

.location{
	padding-left:22px;
	background:url(../images/about_05.jpg) no-repeat center left;
	color:#333;
	font-size:16px;
	margin:20px auto;
	width:1200px;
}

.location span{
	color:#d7000f;
}

.tab{
	width:100%;
	position:relative;
}

.tab a{
	color:#333;
}

.tab a:hover{
	color:#d7000f;
}

.box{
	float:left;
	position:relative;
	left:50%;
}

.xian_1{
	width:100%;
	height:1px;
	background-color:#ccc;
	position:absolute;
	left:0;
	top:45px;
	z-index:0;
}

.menu_1 .xian{
	width:100%;
	height:1px;
	background-color:#d7000f;
	position:absolute;
	left:0;
	top:45px;
	z-index:9;
}

.box .menu_1{
	position:relative;
	left:-50%;
	line-height:34px;
	font-size:18px;
	cursor:pointer;
	font-size:20px;
}

.menu_1 li{
	float:left;
	padding:8px 28px;
	position:relative;
}

.menu_1 li:hover{
	color:#d7000f;
}

.menu_1 .menu_2{
	position:absolute;
	left:0;
	top:45px;
	background:#fefefe;
	z-index:99;
	border-top:2px #d7000f solid;
}

.menu_1 .menu_2 li{
	float:none;
	padding:10px 28px;
}

.desc{
	width:1140px;
	margin-left:auto;
	margin-right:auto;
	margin-top:200px;
	text-align:justify;
	text-indent:2em;
	line-height:32px;
	color:#333;
	font-size:16px;
	
}
	
.picture{
	width:1140px;
	margin-top:60px;
	margin-left:auto;
	margin-right:auto;
}

.picture img{
	display:block;
	float:left;
	width:240px;
	margin-right:10px;
}

.shadow{
	box-shadow: -1px 4px 8px 2px #ccc;
	-webkit-box-shadow: -1px 4px 8px 2px #ccc;
}

.news_box{
	margin-top:40px;
	width:1200px;
	margin-left:auto;
	margin-right:auto;
}

.news{
	padding:15px;
	border:#eee 1px solid;
	margin-top:20px;
	cursor:pointer;
}

.news img{
	width:200px;
	height:150px;
	display:block;
	float:left;
}

.news .con{
	float:left;
	margin-left:20px;
	width:940px;
	padding:10px 0;
}

.con a{
	color:#333;
	font-size:18px;
	display:block;
	line-height:32px;
	margin-bottom:5px;
	text-overflow:ellipsis;
	width:940px;
}

.con a:hover{
	color:#d7000f;
}

.con span{
	color:#999;
	font-size:12px;
	line-height:20px;
}

.con .small_font{
	color:#666;
	font-size:14px;
	line-height:28px;
	margin-top:5px;
	word-break:break-all;
  	display:-webkit-box;
  	-webkit-line-clamp:2;
  	-webkit-box-orient:vertical;
 	overflow:hidden;
 	height:60px;
}

.page{
	margin-top:80px;
	margin-left:auto;
	margin-right:auto;
	width:462px;
	overflow:hidden;
}

.page a{
	padding:10px 15px;
	border:1px solid #999;
	float:left;
	margin:0 2px;
	color:#333;
	font-size:14px;
	cursor:pointer;
}

.page .aa{
	color:#fff;
	background-color:#d7000f;
	border:none;
	padding:11px 16px;
}

.page a:hover{
	color:#fff;
	background-color:#d7000f;
	border:none;
	padding:11px 16px;
}
	

.page .color{
	color:#999;
}

.food{
	margin-left:auto;
	margin-right:auto;
	width:1200px;
}

.pro a{
	display:block;
	width:289px;
	margin-top:4px;
	margin-bottom:4px;
	float:left;
	margin-right:8px;
	position:relative;
	border:1px solid black;
}

.pro .no_margin{
	margin-right:0;
}

a .ss{
	width:289px;
	height:260px;
	overflow:hidden;
}

.pro a:hover{
	width:292px;
	border:#d7000f 1px solid;
}

.pro .no_margin{
	margin-right:5px;
}

.ss img{
	width:100%;
	padding:0;
	margin:0;
	display:block;
	height:260px;
}

.black{
	width:294px;
	height:260px;
	/* background:url(../images/black.png) repeat; */
	position:absolute;
	top:0;
	left:0;
}

a .des{
	line-height:54px;
	color:#333;
	background:#fff;
	border:1px #e9e9e9 solid;
	margin-top:0;
	text-align:center;
}

a .red{
	color:#d7000f;
}

.mes_box{
	margin-top:200px;
	width:100%;
	background:url(../images/background_1.png) bottom center no-repeat;
	padding-bottom:150px;
	height:500px;
}

.txt{
	float:left;
	margin-right:20px;
	margin-top:20px;
}

.txt li{
	line-height:35px;
	margin:18px 0;
	padding-left:15px;
	background:url(../images/x.png) no-repeat left center;
}

.form_box{
	float:left;
	margin-top:20px;
}

.mes{
	width:600px;
	margin:0 auto;
}

.mes p{
	color:#d7000f;
	font-size:16px;
	padding:15px;
}

.Verification{
	width:130px;
	float:left;
	margin-left:20px;
	margin-top:20px;
	height:35px;
}

#submit,#reset{
	margin-right:20px;
	float:left;
	border:none;
	font-size:16px;
	padding-left:0;
	height:40px;
	cursor:pointer;
}

#submit{
	width:100px;
	background-color:#d7000f;
	color:#fff;
}

#reset{
	width:102px;
	background:none;
	border:1px solid #999;
	color:#666;
}

.mes input{
	border:1px solid #ccc;
	height:33px;
	padding-left:10px;
	width:258px;
	display:block;
	margin:20px 0;
	font-size:14px;
	color:#333;
	line-height:33px;
}

.mes textarea{
	display:block;
	width:420px;
	height:180px;
	border:1px solid #ccc;
	padding:10px;
}
	
.footer{
	background:#000;
	width:100%;
	padding-bottom:40px;
	margin-top:150px;
}

.logo{
	margin-right:auto;
	margin-left:auto;
	padding-top:50px;
	display:block;
	margin-bottom:20px;
}

.copy{
	color:#ccc;
	text-align:center;
	line-height:20px;
	font-size:14px;
	margin:0 auto;
	margin-bottom:20px;
}

.copy a{
	color:#ccc;
}

.copy a:hover{
	text-decoration:underline;
	color:#d7000f;
}

.contact{
	width:1200px;
	margin:0 auto;
	border-top:solid 1px #ccc;
	color:#ccc;
	font-size:14px;
}

.contact h6{
	text-align:center;
	font-size:12px;
	line-height:30px;
}

.contact img{
	margin:0 auto;
	display:block;
}

.contact ul{
	width:1092px;
	line-height:60px;
	margin:0 auto;
}

.contact ul li{
	float:left;
	padding:0 25px;
}

.news_del{
	width:1200px;
	margin-left:auto;
	margin-right:auto;
	margin-top:80px;
	margin-bottom:150px;
}

.news_del .main{
	float:left;
	margin-right:100px;
	width:1200px;
	text-align:justify;
	line-height:30px;
	color:#666;
	font-size:16px;
}

h3{
	font-size:24px;
	color:#000;
	text-align:center;
	font-weight:normal;
}

h6{
	color:#999;
	font-weight:normal;
	text-align:center;
	line-height:60px;
}

.main p{
	text-indent:2em;
	margin-bottom:10px;
}

.main img{
	width:100%;
	display:block;
	margin-bottom:40px;
}

.link{
	margin-top:40px;
}

.link_1 a{
	color:#333;
}

.link_1 span{
	color:#000;
	font-weight:bold;
}

.link_1 a:hover{
	color:#d7000f;
	text-decoration:underline;
}

.news_del .rec{
	float:left;
	width:318px;
	border:1px #ddd solid;
	padding-bottom:30px;
}

.rec .biaoti{
	color:#d7000f;
	line-height:68px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
	border-bottom:1px #ddd dashed;
	width:290px;
}

.recommend{
	margin:10px 15px;
}

.xx{
	width:120px;
	height:90px;
	overflow:hidden;
	float:left;
	margin-right:10px;
}

.recommend img{
	width:100%;
}

.recommend .conl{
	float:left;
	width:158px;
}

.conl a{
	display:block;
	font-size:16px;
	color:#333;
	width:158px;
 	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}

.conl a:hover{
	color:#d7000f;
}

.conl span{
	font-size:10px;
	color:#ccc;
	line-height:20px;
	display:block;
}

.conl .small{
	white-space:initial;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	word-break: break-all;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	font-size:12px;
	color:#999;
	line-height:20px;
	width:158px;
}

/*.pic_del{
	position:relative;
}*/

.act{
	margin-bottom:30px;
}

.act p{
	margin-bottom:0;
}

.pic_pic{
	width:100%;
	height:380px;
	margin-bottom:30px;
	overflow:hidden;
}

.pic_pic img{
	width:100%;
}

.pic_del ul{
	position:absolute;
	right:0;
	top:0;
	height:316px;
	width:142px;
	background:url(../images/white.png) repeat;
	padding:32px 0;
}

.pic_del ul li{
	width:114px;
	height:56px;
	overflow:hidden;
	margin:6px auto;
	background:black;
	position:relative;
}

.pic_del ul li img{
	width:100%;
}

.black_1{
	width:114px;
	height:56px;
	background:url(../images/black.png) repeat;
	position:absolute;
	top:0;
	left:0;
}

.arrow_1,.arrow_2{
	width:142px;
	height:35px;
	position:absolute;
	left:0;
}

.arrow_1{
	top:0;	
	background:url(../images/up.png) no-repeat center center;
}

.arrow_2{
	bottom:0;
	background:url(../images/down.png) no-repeat center center;
}

.title_1{
	width:367px;
	position:relative;
	text-align:center;
	background:url(../images/title_bg.png) no-repeat center bottom;	
}

.kk{
	padding:4px;
	width:60px;
	border:1px solid #d7000f;
	margin-left:136px;
}

.title_1 h1{
	font-weight:normal;
	width:40px;
	font-size:32px;
	color:#fff;
	line-height:32px;
	padding:10px;	
	background:#d7000f;
	text-align:center;
	margin:0 auto;
}

.pikachoose {
	width:702px; 
	margin: 0 auto;

}
.pika-thumbs{ 
	padding:32px 0; 
	width:142px; 
	height:316px; 
	background:rgba(255,255,255,0.4);
}

.pikachoose .pika-thumbs li{ 
	width:114px; 
	height:56px; 
	margin: 10px 0 0 0;
	padding: 4px; 
	margin: 0 5px; 
	border: 1px solid #e5e5e5; 
	background: #fafafa;
	cursor: pointer;
}/*透明遮罩*/

.pika-thumbs li .clip {
	position:relative;
	height:100%;
	vertical-align: middle; 
	overflow: hidden;
}

.pika-stage, .pika-textnav {
	width: 702px;
}

.pika-stage {
	position: relative; 
	background:#fafafa; 
	border: 1px solid #e5e5e5; 
	padding:10px; 
	height:360px;
	margin-bottom:70px;
	margin-top:10px;
}/*大框*/

.pika-stage img{
	height:100%;
}

/*上一个、下一个*/
.pika-imgnav a {
	position: absolute; 
	text-indent: -5000px; 
	display: block;
	z-index:3;
}

.pika-imgnav a.previous {
	background:url(../images/btn_u.png) no-repeat center center; 
	height: 100%; 
	width:50px; 
	top: -156px; 
	right: 56px;
	cursor:pointer;
}

.pika-imgnav a.next {
	background:url(../images/btn_d.png) no-repeat center center;
	height:100%; 
	width:50px; 
	top: 154px; 
	right: 56px;
	cursor:pointer;
}

/*小白字，隐藏*/
.pika-textnav a {
	font-size: 6px; 
	text-decoration: none; 
	color: #fff; 
	padding: 4px;
}
	
.pika-textnav a.previous {
	float: left; 
	width: auto; 
	display: block;
}

.pika-textnav a.next {
	float: right; 
	width: auto; 
	display: block;

}
/*当前页/总页数*/
.pika-tooltip{
	font-size:12px;
	position:absolute;
	color:white;
	padding:3px; 
	background-color: rgba(0,0,0,0.7);
	border:3px solid black;
}

.pika-counter{
	position: absolute;
	bottom: 45px;
	left:15px;
	color:white;
	background:rgba(0,0,0,0.7);
	font-size:11px;
	padding:3px;
	-moz-border-radius: 5px;
	border-radius:5px;
}

/*缩略图*/
.pikachoose .pika-thumbs li{
	width: 114px; 
	height:56px;
}

.pikachoose{
	width:702px; 
	position:relative;
}

#pikame{
	width: 144px;
}

.pika-thumbs {
	margin: 0; 
	width:250px;
	position: absolute;
	top:0;
	right: 0;
}

.jcarousel-skin-pika{
	position:absolute;
	top:11px;
	right:-12px;
}

.jcarousel-skin-pika .jcarousel-container-vertical { 
	width: 144px;
	height:360px; 
	overflow:hidden;
}/*大盒子尺寸*/

.pikachoose .jcarousel-skin-pika .jcarousel-item-vertical { 
	margin-top: 15px;
	margin-left:10px; 
	width:114px;
	height:56px;
}/*小盒子间距*/

.jcarousel-skin-pika .jcarousel-clip-vertical { 
	width:  144px; 
	height: 230px;
}